.container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.profile {
  /* background-color: aqua; */
  align-items: center;
  padding-right: 0.625rem;
}

.profilePic {
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.3);
}

.replyIcon {
  display: flex;
  border-radius: 50%;
}

.commentSection {
  border-radius: 0.3125rem;
  text-align: center;
  display: block;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  width: 25rem;
  color: black;
  box-shadow: 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(255, 255, 255, 0.19);
  padding: 0.9375rem;
}

.commentSection h1 {
  font-weight: 500;
  font-size: large;
  text-align: left;
  margin: auto;
}

.commentText {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  margin: auto;
  font-size: small;
  text-align: left;
  color: rgb(78, 78, 78);
}

.timeStamp {
  font-size: 70%;
  text-align: left;
  margin: auto;
  color: rgb(78, 78, 78);
}

.likeSection {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.likeButtons:hover {
    color: #000000;
}


.iconWithCount {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.count {
  text-align: center;
}